.App {
  text-align: center;
  margin: 8px auto;
  padding: 16px;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Button {
  border-radius: 10px;
  width: 100px;
  color: white;
  font: inherit;
  border: 1px solid gray;
  padding: 8px;
  cursor: pointer;
}

.Button:hover {
  background-color: green;
  font-weight: bold;
  transition: all 0.5s;
}

.Button.Red {
  background-color: red;
}

.Button.Red:hover {
  background-color: green;
}

.Button.Green {
  background-color: green;
}

.Button.Green:hover {
  background-color: red;
}
