.Header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 7.5%;
  background-color: mediumslateblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.Header h1 {
  color: antiquewhite;
}

.Header div {
  display: flex;
}
